<section class="home-banner-section1 catego-bann">
  <div class="single-banner-item1">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="categry-listt">
            <div class="row g-0">
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/xdr.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>XDR</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm2.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>Endpoint Security for Business</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm3.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>EDR Expert</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm4.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>EDR Optimum</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm5.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>Anti Targeted Attack Platform</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm6.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>Security for Mail Server</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm7.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>Security for Microsoft Office 365</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm8.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>Industrial CyberSecurity</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="categ-boxs">
                  <img src="assets/images/hrm9.png" alt="" />
                  <div class="content-categ">
                    <h4>Kaspersky</h4>
                    <h3>Hybrid Cloud Security</h3>
                    <a href="#">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>