/*@import "https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap";*/
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://db.onlinewebfonts.com/c/a246b8d5a19583f1aeb36a51d584344b?family=Kaspersky+Sans+Regular";

:root {
	--mainColor: #009078;
	--optionalColor: #696969;
	--whiteColor: #ffffff;
	--blackColor: #000000;
	--fontSize: 15px;
	--transition: .5s;
	/*	--fontFamily: 'rubik', sans-serif;*/
}

@font-face {
	font-family: "Kaspersky Sans Regular";
	src: url("https://db.onlinewebfonts.com/t/a246b8d5a19583f1aeb36a51d584344b.eot");
	src: url("https://db.onlinewebfonts.com/t/a246b8d5a19583f1aeb36a51d584344b.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/a246b8d5a19583f1aeb36a51d584344b.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/a246b8d5a19583f1aeb36a51d584344b.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/a246b8d5a19583f1aeb36a51d584344b.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/a246b8d5a19583f1aeb36a51d584344b.svg#Kaspersky Sans Regular")format("svg");
}

body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	font-family: "Kaspersky Sans Regular";
	color: #333333;
	overflow-x: hidden;


}

body p {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 15px;
	line-height: 26px;
}

body::-webkit-scrollbar {
	background-color: transparent;
	width: 8px;
}

body::-webkit-scrollbar-thumb {
	background-color: #009078;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a {
	color: var(--blackColor);
	-webkit-transition: var(--transition);
	transition: var(--transition);
	text-decoration: none;
	outline: 0 !important
}

a:hover {
	color: #009078;
	text-decoration: none
}

:focus {
	outline: 0 !important
}

.d-table {
	width: 100%;
	height: 100%
}

.d-table-cell {
	vertical-align: middle
}

img {
	max-width: 100%;
	height: auto
}

p:last-child {
	margin-bottom: 0
}

.ptb-70 {
	padding-top: 70px;
	padding-bottom: 70px
}

.pt-70 {
	padding-top: 70px
}

.pb-70 {
	padding-bottom: 70px
}

.ptb-40 {
	padding-top: 40px;
	padding-bottom: 40px
}

.pt-40 {
	padding-top: 40px
}

.pb-40 {
	padding-bottom: 40px
}

.container {
	max-width: 1200px
}

.bg-f7f8fa {
	background-color: #f7f8fa
}

.default-btn {
	display: inline-block;
	position: relative;
	z-index: 1;
	border: none;
	background-color: #009078;
	color: #fff;
	-webkit-box-shadow: unset;
	box-shadow: unset;
	text-align: center;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 0;
}

.appoitment-btn {
	position: relative;
	top: 9px;
}

.default-btn:hover {
	color: #fff;
}

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.html-nav nav .navbar-nav .nav-item:hover a::before,
.html-nav nav .navbar-nav .nav-item .active::before {
	opacity: 1;
	width: 100%;
}

.html-nav nav .navbar-nav .nav-item a::before {
	content: '';
	position: absolute;
	bottom: 10px;
	width: 0;
	height: 2px;
	left: 0;
	right: 0;
	background-color: #009078;
	opacity: 0;
	-webkit-transition: .7s;
	transition: .7s;
}


.section-title h2 {
	font-weight: 700;
	position: relative;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
	height: 50px;
	color: #000;
	-webkit-box-shadow: unset !important;
	box-shadow: unset !important;
	border: 1px solid #e5e0e0;
	background-color: #fff;
	-webkit-transition: var(--transition);
	transition: var(--transition);
	border-radius: 0px;
	padding: 1px 0 0 15px;
	font-size: 16px;
	font-weight: 400;
}

.col-form-label.p-0 {
	font-size: 16px;
	font-style: italic;
}

.form-control::-webkit-input-placeholder {
	color: #333333;
	-webkit-transition: var(--transition);
	transition: var(--transition)
}

.form-control:-ms-input-placeholder {
	color: #333;
	-webkit-transition: var(--transition);
	transition: var(--transition)
}

.form-control::-ms-input-placeholder {
	color: #333;
	-webkit-transition: var(--transition);
	transition: var(--transition)
}

.form-control::placeholder {
	color: #333;
	-webkit-transition: var(--transition);
	transition: var(--transition)
}

.form-control:focus {
	border-color: var(--mainColor);
	background-color: transparent
}

.form-control:focus::-webkit-input-placeholder {
	color: transparent
}

.form-control:focus:-ms-input-placeholder {
	color: transparent
}

.form-control:focus::-ms-input-placeholder {
	color: transparent
}

.form-control:focus::placeholder {
	color: transparent
}

textarea.form-control {
	height: auto;
	padding-top: 15px
}

.html-responsive-nav {
	display: none
}

.html-nav .container-fluid {
	padding-left: 40px;
	padding-right: 40px
}

.html-nav .navbar {
	position: inherit;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.html-nav .navbar .navbar-brand {
	font-size: inherit;
	line-height: 1;
	padding-left: 0;
	padding-right: 0;
}

.html-nav .navbar .navbar-brand img {
	height: 35px;
}

.single-footer-widget .logo img {
	height: 75px;
}

.top-header a:hover {
	color: #009078;
}

.html-nav .navbar ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0
}

.html-nav .navbar .navbar-nav {
	margin-left: auto;
	margin-right: 50px;
}

.gradient-overlay {
	position: absolute;
	top: 0;
	z-index: 9;
	height: 330px;
	width: 100%;
}

.gradient-overlay img {
	height: 330px;
	width: 100%;
	object-fit: fill;
}

.html-nav .navbar .navbar-nav .nav-item {
	position: relative;
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:before {
	display: none;
}

.html-nav .navbar .navbar-nav .nav-item a {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 26px;
	padding-bottom: 13px;
}

.html-nav .navbar .navbar-nav .nav-item {
	margin-right: 18px;
	margin-left: 18px;
}

.navbar-area.is-sticky .html-nav .navbar .navbar-nav .nav-item a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.html-nav .navbar .navbar-nav .nav-item a i {
	font-size: 18px;
	position: relative;
	top: 2px;
	display: inline-block;
	margin-left: 4px;
}

.html-nav .navbar .navbar-nav .nav-item a.active {
	color: #009078;
}

.html-nav .navbar .navbar-nav .nav-item a:hover {
	color: #009078 !important;
}

.html-nav .navbar .navbar-nav .nav-item:last-child a {
	margin-right: 0
}

.html-nav .navbar .navbar-nav .nav-item:first-child a {
	margin-left: 0
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu {
	background: #fff;
	position: absolute;
	border: none;
	top: 100%;
	left: 0;
	width: 300px;
	z-index: 99;
	display: block;
	opacity: 0;
	visibility: hidden;
	border-radius: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 0;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
	box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
}

ul.dropdown-menu:before {
	content: "";
	border-bottom: 15px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	top: -15px;
	left: 25px;
	z-index: 10;
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
	padding: 13px 20px 11px;
	margin: 0;
	position: relative;
	display: block;
	color: #242f51;
	border-bottom: 1px dashed #e5e5e5;
	font-size: 16px;
	font-weight: 400;
}

.appoitment-btn a i {
	margin-left: 6px;
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li a i {
	margin: 0;
	position: absolute;
	top: 50%;
	font-size: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
	color: #fff !important;
	background: var(--mainColor);
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
	left: -250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
	color: #515050
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #515050
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: -250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #515050
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #515050
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: -250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #515050
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
	left: 250px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
	color: #515050
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1)
}

.html-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1)
}

.html-nav .navbar .navbar-nav .nav-item.megamenu {
	position: inherit
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .container {
	display: block;
	-ms-flex-wrap: unset;
	flex-wrap: unset;
	-webkit-box-align: unset;
	-ms-flex-align: unset;
	align-items: unset;
	-webkit-box-pack: unset;
	-ms-flex-pack: unset;
	justify-content: unset
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu {
	width: 90%;
	margin-top: 8px;
	position: absolute;
	top: auto;
	left: 0;
	padding: 30px 0;
	-webkit-transform: unset !important;
	transform: unset !important;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	border-top: 2px solid #009078;
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title {
	color: var(--blackColor);
	position: relative;
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 25px;
	font-size: 15.5px;
	font-weight: 600
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title::before {
	width: 30px;
	height: 1px;
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title:first-child {
	margin-top: 0
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu a {
	border-bottom: none !important
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a {
	margin-top: 14px;
	color: #666;
	padding: 0;
	font-weight: 400;
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a:hover,
.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a.active {
	color: var(--mainColor)
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products {
	overflow: hidden;
	position: relative;
	text-align: center
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products img {
	-webkit-transition: var(--transition);
	transition: var(--transition)
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category {
	position: absolute;
	left: 0;
	-webkit-transition: var(--transition);
	transition: var(--transition);
	right: 0;
	bottom: 0;
	background-color: var(--whiteColor);
	padding: 15px;
	margin-left: 10px;
	margin-right: 10px
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category h4 {
	text-transform: uppercase;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
	font-size: var(--fontSize);
	font-weight: 600
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .link-btn {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 3
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:not(:first-child) {
	margin-top: 15px
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3)
}

.html-nav .navbar .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover .category {
	bottom: 10px
}

.html-nav .navbar .others-option .option-item {
	display: inline-block;
	margin-left: 20px;
	position: relative;
	z-index: 3
}

.html-nav .navbar .others-option .option-item:first-child {
	margin-left: 0
}

.html-nav .navbar .others-option .option-item .search-btn-box {
	position: relative;
	top: 1px
}

.html-nav .navbar .others-option .option-item .search-btn-box .search-btn {
	font-size: 25px;
	cursor: pointer;
	color: var(--blackColor);
	-webkit-transition: var(--transition);
	transition: var(--transition)
}

.html-nav .navbar .others-option .option-item .search-btn-box .search-btn:hover {
	color: var(--mainColor)
}

.html-nav .navbar .others-option .option-item .cart-btn {
	font-size: 25px;
	position: relative;
	line-height: 1
}

.html-nav .navbar .others-option .option-item .cart-btn a {
	display: inline-block;
	position: relative
}

.html-nav .navbar .others-option .option-item .cart-btn a span {
	position: absolute;
	right: -4px;
	top: -4px;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 13.9px;
	border-radius: 50%;
	color: var(--whiteColor);
	background-color: red;
	font-size: 10px;
	font-weight: 600
}

.html-nav .navbar .others-option .option-item .wishlist-btn {
	font-size: 25px;
	position: relative;
	line-height: 1;
	top: 1px
}

.html-nav .navbar .others-option .option-item .wishlist-btn a {
	display: inline-block
}

.navbar-area.is-sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	-webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
	box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .09);
	background-color: var(--whiteColor) !important;
	transition: all .3s ease-in-out;
	animation: smoothScroll 1s forwards;
	-moz-transition: position 10s;
	-ms-transition: position 10s;
	-o-transition: position 10s;
	transition: all .5s ease;
	padding-top: 0;
	padding-bottom: 0
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px)
	}

	100% {
		transform: translateY(0)
	}
}

@media only screen and (max-width: 991px) {
	.html-responsive-nav {
		display: block
	}

	#row1 {
		flex-direction: column-reverse;
		margin-bottom: 50px;
	}

	#row2 {
		margin-bottom: 80px;
	}

	.listing-layout.mg-top1 {
		margin-top: 15px;
	}

	.pb-100 {
		padding-bottom: 60px !important;
	}

	.inner-about-text p br {
		display: none;
	}

	.about_image_hold img {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.about_image_hold1 img {
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.html-responsive-nav .html-responsive-menu {
		position: relative
	}

	.html-responsive-nav .html-responsive-menu.mean-container .mean-nav {
		margin-top: 45px;
	}

	.html-responsive-nav .html-responsive-menu.mean-container .mean-nav ul {
		font-size: 15px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .mean-nav ul li a.active {
		color: var(--mainColor)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .mean-nav ul li li a {
		font-size: 14px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav {
		-webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1);
		box-shadow: 0 7px 13px 0 rgba(0, 0, 0, .1)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item {
		overflow: hidden
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .container {
		padding-left: 0;
		padding-right: 0
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row {
		display: block;
		-ms-flex-wrap: unset;
		flex-wrap: unset;
		margin-left: 0;
		margin-right: 0;
		margin-top: -20px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row .col {
		-ms-flex-preferred-size: unset;
		flex-basis: unset;
		-webkit-box-flex: unset;
		-ms-flex-positive: unset;
		flex-grow: unset;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 20px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item .row .col:last-child {
		margin-bottom: 15px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .nav-item a {
		width: 100%;
		float: unset;
		display: block
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title {
		color: var(--blackColor);
		position: relative;
		border-bottom: 1px solid #eee;
		padding-bottom: 8px;
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-top: 25px;
		margin-left: 15px;
		margin-right: 15px;
		font-size: 13.5px;
		font-weight: 600
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title::before {
		width: 30px;
		height: 1px;
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		background-color: var(--mainColor)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .submenu-title:first-child {
		margin-top: 5px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu a {
		border-bottom: none !important
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .mean-expand {
		display: none !important
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu {
		width: auto;
		overflow: hidden;
		display: block !important;
		padding-left: 15px;
		padding-right: 15px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a {
		border: none;
		margin-top: 15px;
		color: #666;
		padding: 0;
		font-weight: 400
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a:hover,
	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu li a.active {
		color: var(--mainColor)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products {
		overflow: hidden;
		position: relative;
		text-align: center
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products img {
		-webkit-transition: var(--transition);
		transition: var(--transition)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category {
		position: absolute;
		left: 0;
		-webkit-transition: var(--transition);
		transition: var(--transition);
		right: 0;
		bottom: 0;
		background-color: var(--whiteColor);
		padding: 15px;
		margin-left: 10px;
		margin-right: 10px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .category h4 {
		text-transform: uppercase;
		margin-bottom: 0;
		position: relative;
		z-index: 1;
		font-size: var(--fontSize);
		font-weight: 600
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products .link-btn {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 3
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:not(:first-child) {
		margin-top: 15px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover img {
		-webkit-transform: scale(1.3);
		transform: scale(1.3)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .megamenu-submenu .aside-trending-products:hover .category {
		bottom: 10px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .brand-slides {
		margin-top: 0;
		border-top: none;
		border-bottom: none;
		border-left: none
	}

	.html-responsive-nav .html-responsive-menu.mean-container .navbar-nav .nav-item.megamenu .dropdown-menu .brand-slides .brand-item a {
		display: block !important;
		padding: 20px !important;
		width: auto !important
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option {
		position: absolute;
		right: 50px;
		top: -2px;
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item {
		display: inline-block;
		margin-left: 12px;
		position: relative;
		z-index: 3
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item:first-child {
		margin-left: 0
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .search-btn-box {
		position: relative;
		top: 2px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .search-btn-box .search-btn {
		font-size: 20px;
		cursor: pointer;
		color: var(--blackColor);
		-webkit-transition: var(--transition);
		transition: var(--transition)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .search-btn-box .search-btn:hover {
		color: var(--mainColor)
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .cart-btn {
		font-size: 20px;
		position: relative;
		line-height: 1
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .cart-btn a {
		display: inline-block;
		position: relative
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .cart-btn a span {
		position: absolute;
		right: -3px;
		top: -3px;
		width: 12px;
		height: 12px;
		text-align: center;
		line-height: 11.9px;
		border-radius: 50%;
		color: var(--whiteColor);
		background-color: red;
		font-size: 9px;
		font-weight: 600
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .wishlist-btn {
		font-size: 20px;
		position: relative;
		line-height: 1;
		margin-right: -2px;
		top: 1px
	}

	.html-responsive-nav .html-responsive-menu.mean-container .others-option .option-item .wishlist-btn a {
		display: inline-block
	}

	.html-responsive-nav .mean-container a.meanmenu-reveal {
		color: #009078;
	}

	.html-responsive-nav .mean-container a.meanmenu-reveal span {
		background: #009078;
	}

	.html-responsive-nav .logo {
		position: relative;
		width: 20%;
		z-index: 999
	}

	.html-nav {
		display: none
	}

	.navbar-area {
		padding-top: 10px;
		padding-bottom: 10px
	}

	.navbar-area.is-sticky {
		padding-top: 10px;
		padding-bottom: 10px
	}
}

.main-banner {
	padding-top: 70px;
	padding-bottom: 70px
}

.home-slides {
	position: relative;
}

.home-slides:before {
	content: "";
	border-bottom: 30px solid #fff;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	position: absolute;
	bottom: 0;
	z-index: 9999;
	left: 50%;
	transform: translate(-50%, 0px);
	display: table;
}

.home-slides .single-banner-item {
	position: relative;
}

.banner-icon_box a img {
	height: 60px;
	width: auto !important;
	margin-right: auto;
	margin-left: auto;
}

.banner-icon_box a {
	height: 65px;
	width: 35px;
	background: transparent;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #fff;
	border-radius: 17px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scroll-down {
	display: block;
	height: 25px;
	width: 2px;
	background: #fff;
	animation: scrolldown-anim 2s infinite;
}

@keyframes scrolldown-anim {
	0% {
		opacity: 0;
		height: 20px;
	}

	40% {
		opacity: 1;
		height: 15px;
	}

	80% {
		transform: translate(0, 20px);
		height: 10px;
		opacity: 0;
	}

	100% {
		height: 3px;
		opacity: 0;
	}
}

.banner-icon_box {
	position: relative;
	bottom: -100px;
}

.main-banner-content .sub-title {
	display: block;
	font-weight: 600;
	margin-bottom: 12px;
	color: var(--mainColor)
}

.main-banner-content h1 {
	margin-bottom: 12px;
	font-size: 55px;
	line-height: 1.1
}

.main-banner-content h1 span {
	color: var(--mainColor)
}

.main-banner-content p {
	font-size: 16px
}

.main-banner-content .default-btn {
	margin-top: 10px
}

.home-banner-section {
	background-color: #138ace;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(../images/banner-bg.jpg);
}

.banner-content .sub-title {
	display: block;
	font-weight: 600;
	margin-bottom: 12px;
}

.banner-content.size-control h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}

.banner-content h1 {
	margin-bottom: 40px;
	font-size: 65px;
	line-height: 1.1;
	color: #fff;
	text-shadow: 2px 3px hsl(0deg 1% 17% / 13%);
	font-weight: 600;
}

.banner-content p {
	color: #ffffff;
	text-shadow: 2px 3px hsl(0deg 1% 17% / 13%);
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
}

.btn-box .flxbtn {
	justify-content: center;
}

.banner-content .btn-box {
	margin-top: 30px
}

.banner-content .btn-box .price {
	display: block;
	margin-left: 25px;
	font-size: 20px;
	font-weight: 600
}

.banner-image {
	text-align: center
}

.banner-image img {
	width: auto !important;
	display: inline-block !important
}

.owl-item.active .banner-content .sub-title {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .3s;
	animation-delay: .3s
}

.owl-item.active .banner-content h1 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .7s;
	animation-delay: .7s
}

.owl-item.active .banner-content p {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}

.owl-item.active .banner-content .btn-box {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s
}

.owl-item.active .banner-image img {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}


.pt-50 {
	padding-top: 50px;
}

.banner-categories-area {
	padding-top: 50px;
	padding-bottom: 30px;
}

.home-slides .owl-dots {
	position: absolute;
	top: 50%;
	left: 8%;
	display: flex;
	flex-direction: column;
}

.home-slides .owl-dots .owl-dot span {
	height: 30px;
	width: 30px;
	position: relative;
	background: transparent;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
}

.home-slides .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: transparent !important;
}

.home-slides .owl-dots .owl-dot span:hover {
	background: transparent !important;
}

.home-slides .owl-dots .owl-dot.active span {
	background: transparent;
	color: #009078;
	margin-top: 120px;
}

.home-slides .owl-dots .owl-dot:nth-child(1) span:before {
	content: "\f099";
	font-family: 'FontAwesome';
}

.home-slides .owl-dots .owl-dot:nth-child(2) span:before {
	content: "\f09a";
	font-family: 'FontAwesome';
}

.home-slides .owl-dots .owl-dot:nth-child(3) span:before {
	content: "\f0e1";
	font-family: 'FontAwesome';
}

.home-slides .owl-dots .owl-dot.active span:after {
	content: "";
	position: absolute;
	height: 120px;
	width: 1px;
	background: #fff;
	bottom: 35px;
	left: 15px;
	opacity: .4;
}

/*==================================================
	footer css
===================================================*/
.footer-bottom-area {
	background-color: #009078;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.footer-bottom-area p {
	line-height: initial;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}


/*=================*/
.res-boxx {
	display: flex;
	align-items: center;
	gap: 20px;
}

.res-boxx h3 {
	color: #fff;
	font-size: 20px;
}

.res-boxx img {
	height: 70px;
}

.reponse-box {
	display: flex;
	align-items: center;
	gap: 20px;
}

.side-img-banner {
	position: absolute;
	bottom: 24%;
	width: 36%;
	right: -7%;
}

.home-banner-section {
	position: relative;
	z-index: 1;
	padding: 60px 0;
}

.side-img-banner img {
	width: 100%;
}

.single-banner-item {
	position: relative;
}

.prize-boxx {
	text-align: center;
}

.home-banner-section:before {
	content: "";
	height: 45%;
	width: 100%;
	background: #fcfcfc;
	position: absolute;
	bottom: 0;
	z-index: -1;
	left: 0;
}

/*.single-banner-item{
	position: relative;
	z-index: 1;
	padding: 60px 0;

}*/
.prize-boxx h5 {
	color: #000;
	font-weight: 600;
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
}

h3.titll1s {
	color: #fff;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
	font-size: 36px;
	margin-bottom: 15px;
}

.join-text p {
	font-size: 14px;
	margin-top: 20px;
}

.prize-sect {
	margin-top: 30px;
}

.reg-img {
	margin-top: -30px;
}

.home-banner-section1 {
	background-color: #138ace;
	background-size: cover;
	padding: 60px 0;
	background-position: center;
	position: relative;
	background-image: url(../images/banner-bg.jpg);
}

.contact-form {
	background: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	padding: 30px 60px;
}

.contact-form .default-btn {
	padding: 7px 20px;
	font-size: 20px;
}

.over-img1 {
	position: absolute;
	bottom: 0;
	height: 50%;
}


.prdt-shadow1 {
	position: relative;
	z-index: 1;
}

.prize-boxx {
	text-align: center;
}

img.over-img {
	position: absolute;
	left: 0;
	top: 35px;
	height: 80px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.prdt-shadow {
	position: relative;
}

img.bg-img {
	height: 150px;
}

.bgg1:before {
	content: "";
	background-image: url(../images/pr1.png);
	height: 100%;
	width: 95%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 100% 100%;
	background-position: center;
	z-index: -1;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.bgg2:before {
	content: "";
	background-image: url(../images/pr3.png);
	height: 100%;
	width: 95%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 100% 100%;
	background-position: center;
	z-index: -1;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.bgg3:before {
	content: "";
	background-image: url(../images/pr2.png);
	height: 100%;
	width: 95%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 100% 100%;
	background-position: center;
	z-index: -1;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.product-boxs {
	padding: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	height: 320px;
	position: relative;
	/*background-image: url(../images/bgg1.png);
    background-size: cover;
    background-position: 100%;*/

}

.product-boxs h5 {
	color: #fff;
}

.title-text {
	color: #fff;
	margin-bottom: 50px;
	margin-top: -50px;
}

.product-bann {
	padding-bottom: 100px;
}

.categry-listt {
	background: #fafafa;
	padding: 20px;
}

.categ-boxs img {
	float: left;
	height: 80px;
}

.content-categ {
	padding-left: 90px;
}

.content-categ h4 {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 500;
	color: #009078;
}

.content-categ a {
	font-size: 16px;
	font-weight: 500;
	color: #009078;
	text-decoration: underline;
}

.content-categ h3 {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
	color: #333333;
}

.categ-boxs {
	border: 0.0625rem solid #eee;
	border-width: 0 0 0.0625rem 0.0625rem;
	padding: 20px;
}

.catego-bann {
	padding: 80px 0;
}

.button1 input {
	position: absolute;
	top: 20px;
	left: 20px;
}

.button1 {
	position: relative;
}

.button1 label {
	display: block;
	text-align: left;
	background-image: url(../images/brd.png);
	background-size: 100% 100%;
	padding: 10px 30px;
	background-repeat: no-repeat;
	color: #fff !important;
}

.button1 input[type="radio"] {
	opacity: 0.011;
	z-index: 100;
}

.button1 input[type="radio"]:checked+label {
	background-image: url(../images/bggg.png);
	border-radius: 4px;
}

.button1 label {
	cursor: pointer;
	z-index: 90;
	line-height:24px;
	font-size:18px;
}

.form-bann {
	padding: 100px 0;
}

.timer-dte span {
	background: linear-gradient(90deg, rgba(31, 203, 195, 1) 0%, rgba(57, 150, 252, 1) 50%, rgba(114, 71, 255, 1) 100%);
	color: #fff;
	padding: 10px 20px;
	border-radius: 15px;
	font-weight: 600;
}

.timer-dte {
	text-align: center;
	margin-top: 50px;
}

.single-banner-item12 {
	background-color: #138ace;
	background-size: cover;
	padding: 60px 0;
	background-position: center;
	position: relative;
	background-image: url(../images/banner-bg.jpg);
}

.join-text3 p {
	font-size: 14px;
	margin-bottom: 0;
	line-height: 20px;
}

.submit-sect {
	padding: 30px 0;
}

button.default-btn.right-btn1 {
	padding: 10px 35px;
	font-size: 22px;
	margin-left: auto;
	display: table;
}

.leadership-boxs {
	background: #fff;
	border-radius: 10px;
	text-align: center;
	position: relative;
	padding: 35px 20px;
	height: 280px;
	overflow: hidden;
}

.leadership-boxs:before {
	content: "";
	background: transparent;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 8px solid;
	border-image: linear-gradient(45deg, #22ceb8, #7545ff, #22ceb8, #22ceb8, #7545ff) 1;
}

.leader-des {
	background: #cccccc;
	border-radius: 10px;
	padding: 20px;
}

.leader-des h4 {
	font-size: 18px;
	font-weight: 500;
}

i.counter-num {
	background: linear-gradient(90deg, rgba(31, 203, 195, 1) 0%, rgba(57, 150, 252, 1) 50%, rgba(114, 71, 255, 1) 100%);
	width: 55px;
	height: 55px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	position: absolute;
	top: -25px;
	z-index: 99;
	left: 0;
	right: 0;
}

.hil-wrap {
	position: relative;
}

.akkk-bann {
	padding: 130px 0;
}

.home-banner-section1.akkk-bann:before {
	content: "";
	background-image: url(../images/page_7.png);
	position: absolute;
	height: 50%;
	width: 100%;
	top: 0;
	left: 0;
}

.default-btn:hover {
	background: #0cc5a6;
}

.allbtn {
	text-align: right;
	font-size: 16px;
	color: #009078;
	display: block;
}

.allbtn span {
	text-decoration: underline;
}
#largtext {
  font-size: 24px;
}