<section class="home-banner-section1 akkk-bann">
  <div class="single-banner-item1">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="product-listt">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="hil-wrap">
                  <i class="counter-num">1</i>
                  <div class="leadership-boxs onn">
                    <div class="leader-des">
                      <h4>Score- XXX</h4>
                      <h4>Mr. XXXXXX XXXXXX</h4>
                      <h4>+91 XXXXXX 1234</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="hil-wrap">
                  <i class="counter-num">2</i>
                  <div class="leadership-boxs">
                    <div class="leader-des">
                      <h4>Score- XXX</h4>
                      <h4>Mr. XXXXXX XXXXXX</h4>
                      <h4>+91 XXXXXX 1234</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="hil-wrap">
                  <i class="counter-num">3</i>
                  <div class="leadership-boxs">
                    <div class="leader-des">
                      <h4>Score- XXX</h4>
                      <h4>Mr. XXXXXX XXXXXX</h4>
                      <h4>+91 XXXXXX 1234</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="hil-wrap">
                  <i class="counter-num">4</i>
                  <div class="leadership-boxs">
                    <div class="leader-des">
                      <h4>Score- XXX</h4>
                      <h4>Mr. XXXXXX XXXXXX</h4>
                      <h4>+91 XXXXXX 1234</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>